.calendar {
  display: flex;
  flex-flow: row wrap;
  gap: $gap;
  padding: $calendar-padding;
  width: calc(7 * #{$slot-size} + 2 * #{$calendar-padding} + 6 * #{$gap});

  &__day {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $slot-size;
    height: $slot-size;
    font-size: 30px;
    background-color: #eee;
    border: $border-width solid black;
    transition-duration: 500ms;

    &:hover {
      cursor: pointer;
      background-color: #ffbfcb;
      transform: translateY(-20px);
    }
  }
}
